{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<section class="hero-container">
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-5 offset-7 my-auto">
            <h1 class=" hero-text text-grey">
                Catch phrase / Slogan
            </h1>
        </div>
    </div>
</div>
</section>

<section>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 favourites">
            <h2>Favourites of the month</h2>

        </div>
    </div>
</div>
</section>
{% endblock %}}