{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
    
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="hero-container">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h1 class=" section-text hero-text text-white display-2 text-center">
                    the future is green
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="section-two container-fluid ">
    <div class="row">
        <div class="col-12  text-center my-5">
            <h2 class="text-white section-text-title">Choose your favorite</h2>

            <div class="row my-5 text-green section-text">

                <div class="col-lg-2 col-md-12 mt-2 offset-lg-1 text-center">
                    <a class="login-text" href="{% url 'products' %}?category=big_leaves,to_hang,cacti,succulents">
                        <div class="card h-100">
                            <img src="{{ MEDIA_URL }}calathea-orbifolia.jpg" class="card-img-top img-fav" alt="Shop All">
                            <div class="card-body">
                                <h5 class="card-title">Shop All</h5>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-2 col-md-12 mt-2">
                    <a class="login-text" href="{% url 'products' %}?category=big_leaves">
                    <div class="card h-100">
                    <img src="{{ MEDIA_URL }}ficus-lyrata.jpg" class="card-img-top img-fav" alt="Big leaves">
                    <div class="card-body">
                        <h5 class="card-title">Big Leaves</h5>
                    </div>
                    </div>
                </a>
                </div>
                <div class="col-lg-2 col-md-12 mt-2">
                    <a class="login-text" href="{% url 'products' %}?category=to_hang">
                    <div class="card h-100">
                    <img src="{{ MEDIA_URL }}philodendron-scandens-brasil.jpg" class="card-img-top img-fav" alt="To hang">
                    <div class="card-body">
                        <h5 class="card-title">To Hang</h5>
                    </div>
                    </div>
                </a>
                </div>
                <div class="col-lg-2 col-md-12 mt-2">
                    <a class="login-text" href="{% url 'products' %}?category=succulents">
                    <div class="card h-100">
                    <img src="{{ MEDIA_URL }}echeveria.jpg" class="card-img-top img-fav" alt="Succulents">
                    <div class="card-body">
                        <h5 class="card-title">Succulents</h5>
                    </div>
                    </div>
                    </a>
                </div>
                
                <div class="col-lg-2 col-md-12 mt-2">
                    <a class="login-text" href="{% url 'products' %}?category=cacti">
                    <div class="card h-100">
                    <img src="{{ MEDIA_URL }}little-cactus.jpg" class="card-img-top img-fav" alt="Cacti">
                    <div class="card-body">
                        <h5 class="card-title">Cacti</h5>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-12 text-center my-5">
            <h2 class="text-green section-text-title"><strong>Did you know that ... </strong></h2>

            <div class="row">
                <div class="col">

                    <div id="carouselExampleSlidesOnly" class="carousel slide text-green section-text" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <h4 class="my-3"><strong>Plants purify the air!</strong></h4>
                                <h5 class="my-3">They take care of you too! <br> Your watering and cleaning pay off because your house plants are removing toxins all around you making the air more purified.</h5>
                              </div>

                              <div class="carousel-item">
                                <h4 class="my-3"><strong>Plants decrease your stress levels</strong></h4>
                                <h5 class="m-3">A new plant addition in your at-home office can make telecommuting less stressful. <br> House plants are proven to relieve stress and improve mental wellbeing and as a result, increasing productivity.</h5>
                              </div>

                              <div class="carousel-item">
                                <h4 class="my-3"><strong>Plants love music</strong></h4>
                                <h5 class="m-3">Growing your plants can be a quiet and peaceful experience but they also want to listen to your playlists. <br> House plants love music and it encourages growth, so turn up your playlist!</h5>
                              </div>

                              <div class="carousel-item">
                                <h4 class="my-3"><strong>Plants reduce noise pollution</strong></h4>
                                <h5 class="m-3">Houseplants, such as peace lilies, have been found to absorb sound! <br> Surround your workspace with plants to create a quiet sanctuary.</h5>
                              </div>

                              <div class="carousel-item">
                                <h4 class="my-3"><strong>Plants boost your immune system!</strong></h4>
                                <h5 class="m-3">Plants are known to be calming, leaving you more relaxed and improving your sleep. <br> They can help you stay happy and healthy!</h5>
                              </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 3000
            });
        });
</script>
{% endblock %}