{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center section-text-title text-green"><strong>Welcome back, {{ profile }}</strong></h1>
                <hr style="height:2px" class="col-6 offset-3 text-grey">
            </div>
        </div>
    </div>
{% endblock %}