{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col my-5">
            <h1 class="section-text-title text-green text-center mb-5">Checkout</h1>
            <h3 class="section-text-title text-green text-center mb-5">You're almost there</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Please, fill in your details in the form below to complete the order.</p>
    </div>
</div>
{% endblock %}}

{% block postloadjs %}
{% endblock%}