@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

html,
body {
    height: 100%;
}

header {
    font-family: 'Lora', sans-serif;
}

.carousel {
    margin-top: 30px;
    margin-bottom: 50px;
}

.carousel-inner{
    height: 150px;
}

.hero-container {
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color : #CAC8CF;
    max-width: 100%;
    min-height: 100vh;
}

.section-text {
    font-family: 'Lora', sans-serif;
    font-style: italic;
    position: absolute;
}

.hero-text {
    top: 50%;
    left: 65%;
}

.card-img-top {
    float: none;
    width:  auto;
    height: 200px;
    object-fit: cover;
}

.section-two {
    background-color: #5B9A3F !important; ;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #5B9A3F;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-grey,
.btn-grey {
    color: #CAC8CF !important;
}

.border-grey {
    border: 1px solid #CAC8CF !important;
}
.text-green,
.btn-green{
    color: #5B9A3F;
}

.border-green{
    border: 1px solid #5B9A3F !important; 
}

.dropdown-item{
    color: #5B9A3F;
}

.text-white{
    color: #ffffff;
}

/* -------------------------------- Media Queries */

/*XL screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
