@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

html,
body {
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
}

header {
    font-family: 'Lora', sans-serif;
}

#delivery-banner{
    background-color: #5B9A3F;
}

.carousel {
    margin-top: 30px;
    margin-bottom: 50px;
}

.carousel-inner{
    height: 150px;
}

.hero-container {
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    color : #CAC8CF;
    max-width: 100%;
    min-height: 100vh;
}

.minilogo{
    max-width: 20%;
    height: auto;
}

.section-text-title {
    font-family: 'Lora', sans-serif;
    font-style: italic;
}

.section-text {
    font-family: 'Lora', sans-serif;
    font-style: normal;
}

.no-deco{
    text-decoration: none;
}

.no-deco:hover{
    color: #CAC8CF;
}

.hero-text {
    top: 50%;
    left: 65%;
}

.card-img-top {
    float: none;
    width:  auto;
    object-fit: cover;
}

.img-fav{
    height: 200px;
}

.prod-img{
    height: 350px;
}

.detail-img{
    height: 500px;
}

.nav-link{
    color: #CAC8CF;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #5B9A3F;
}

.transition:hover{
    color: #5B9A3F;
}

.nav-link:hover{
    color: #5B9A3F;
}

.bg-green{
    background-color: #5B9A3F;
}

.section-two {
    background-color: #5B9A3F !important; ;
}

.accordion-button{
    text-align: center;
}

footer {
    background-color: #5B9A3F !important;
    color: #CAC8CF;
    font-family: 'Lora', sans-serif;
    font-style: normal;
}

.footer-arrange{
    margin-left: 15px;
}

.page-footer a {
    text-decoration: none;
    color: #CAC8CF;
}

.page-footer li {
    list-style-type: none;
}

.page-footer ul {
    padding: 0px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 40px;
  }

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #5B9A3F;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-grey,
.btn-grey {
    color: #CAC8CF !important;
}

.border-grey {
    border: 1px solid #CAC8CF !important;
}
.text-green,
.btn-green{
    color: #5B9A3F;
}

.border-green{
    border: 1px solid #5B9A3F !important; 
}

.dropdown-item{
    color: #5B9A3F;
}

.text-white{
    color: #ffffff;
}

/* -------------------------------- Media Queries */


