<header class="container-fluid fixed-top m-0 p-0 d-none d-xxl-block"> <!-- Visible only on xxl -->
            <nav class="navbar navbar-expand-xxl navbar-light bg-light m-0 p-0">
                
                <div class="container-fluid"></div>
                    
                        <div class="col-10 col-lg-5 my-auto py-lg-0 text-start text-lg-left d-none d-sm-block">
                            <a href="{% url 'home' %}"  class=" navbar-brand main-logo-link">
                                <img src="{{ MEDIA_URL }}logo-green.png" alt="Monstera">
                            </a>
                        </div>

                        <div class="col-5 my-auto text-start d-block d-sm-none">
                            <a href="{% url 'home' %}"  class=" navbar-brand main-logo-link ">
                                <img class="minimenu" src="{{ MEDIA_URL }}logo-minimenu.png" alt="Monstera">
                            </a>
                        </div>

                        


                <!-- Search bar -->
               

                        <div class="col-12 col-lg-2 mt-4">
                            <form method="GET" action="{% url 'products'%}">
                                <div class="input-group w-100">
                                    <input class="form-control border border-grey rounded-pill" type="text" name="q" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="form-control btn border border-grey rounded-pill" type="submit">
                                            <span class="icon">
                                                <i class="fas fa-search "></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>


                <!-- Shop tab + dropdown -->
                        <div class="col-12 col-lg-4 offset-lg-1 mt-2">
                            <ul class="list-inline list-unstyled text-lg-right">
                                <li class="list-inline-item dropdown">
                                    <a class="text-grey nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="text-center">
                                            <i class="fab fa-pagelines fa-2x"></i>
                                            <h4 class="transition">Shop</h4>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                        <a href="{% url 'products' %}?category=big_leaves,to_hang,cacti,succulents" class="dropdown-item">Shop all</a>
                                        <a href="{% url 'products' %}?category=big_leaves" class="dropdown-item">Big leaves</a>
                                        <a href="{% url 'products' %}?category=to_hang" class="dropdown-item">To hang</a>
                                        <a href="{% url 'products' %}?category=cacti" class="dropdown-item">Cacti</a>
                                        <a href="{% url 'products' %}?category=succulents" class="dropdown-item">Succulents</a>
                                    </div>
                                </li>
                                <li class="list-inline-item dropdown">
                                    <a class="text-grey nav-link" href="{% url 'blog' %}">
                                        <div class="text-center">
                                            <i class="fas fa-pencil-alt fa-2x"></i>
                                            <h4 class="transition">Tips</h4>
                                        </div>
                                    </a>
                                </li>
                                <li class="list-inline-item dropdown">
                                    <a class="text-grey nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="text-center">
                                            <i class="fas fa-child fa-2x"></i>
                                            <h4 class="transition">Account</h4>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                        {% if request.user.is_authenticated %}
                                            {% if request.user.is_superuser %}
                                                <a href="{% url 'add_product' %}" class="dropdown-item">Add products</a>
                                            {% endif %}
                                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                        {% else %}
                                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                        {% endif %}
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <a class="{% if grand_total %}text-green font-weight-bold{% else %}text-grey{% endif %} nav-link" href="{% url 'view_cart' %}">
                                        <div class="text-center">
                                            <div><i class="fas fa-shopping-cart fa-2x"></i></div>
                                            <h5 class="my-0">
                                                {% if grand_total %}
                                                    <strong>€ {{ grand_total|floatformat:2 }}</strong>
                                                {% else %}
                                                    <strong>€ 0.00</strong>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="gift-banner" class="row text-center">
                <div class="col text-white">
                    <h4 class="my-1">Every €{{ free_gift_threshold }} spent, a free baby plant for you!</h4>                
                </div>  
            </div>
        </header>