{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col mb-5">
            <h1 class="section-text-title text-green text-center my-3 display-4">Tips</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-10 offset-1 my-auto text-center">
            {% for post in post_list %}
            <div class="card mb-4 border-green-blog">
                <div class="card-body">
                    <h2 class="card-title text-green section-text">{{ post.title }}</h2>
                    <p class="card-text text-grey h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-hover text-white bg-green rounded-pill">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}