{% extends "account/base.html" %}

{% load i18n %}

{% trans "Sign Out" %}

{% block inner_content %}
<div class="row">
  <div class="col-6 offset-3">
    <div class="container border-green mb-4">
      <h1 class="section-text-title text-green mb-4 display-4">{% trans "Sign Out" %}</h1>

      <p>{% trans 'Are you sure you want to sign out? We're gonna to miss you :(' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="primaryAction btn btn-hover text-white rounded-pill bg-green my-3" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
