{% extends "account/base.html" %}

{% load i18n %}

{% trans "Change Password" %}

{% block inner_content %}
<div class="row">
    <div class="col-6 offset-3">
        <div class="container border-green mb-4">
            <h1 class="section-text-title text-green mb-4 display-4">{% trans "Change Password" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="primaryAction btn btn-hover text-white rounded-pill bg-green my-3" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %} 
