{% extends "base.html" %}
{% load static %}
{% block extra_title %}| 404 {% endblock %}

{% block content %}
<div class="row py-5">
    <div class="col-6 offset-3 text-center">
        <div class="container mb-4">
        <h1 class="section-text-title text-green mb-4 display-4">404<br>Page not found </h1>
        <h4 class="section-text text-grey mt-2">Sorry, we couldn't find anything.</h4>
        <div class="py-3">
            <a class="btn btn-hover text-white bg-green rounded-pill text-uppercase mt-5 mb-2" href="{% url 'home' %}">Go to homepage</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}