{% load static %}


<!doctype html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        <!-- Links -->
        {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css%}
        {% endblock %}

        <!-- Scripts -->
        {% block corejs %}
        <script src="https://kit.fontawesome.com/7aa7866e26.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
        <script src="/static/js/script.js"></script>
        {% endblock %}

        {% block extra_js %}
    
        {% endblock %}

        <title>Monstera {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex ">
                <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}"  class="nav-link main-logo-link">
                        <img src="/media/logo-green.png" alt="Monstera">
                    </a>
                </div>

                <!-- Search bar -->
                <div class="col-12 col-lg-2 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products'%}">
                        <div class="input-group w-100">
                            <input class="form-control border border-grey rounded-pill" type="text" name="q" placeholder="Search">
                            <div class="input-group-append">
                                <button class="form-control btn border border-grey rounded-pill" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search "></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Shop tab + dropdown -->
                <div class="col-12 col-lg-4 my-auto">
                    <ul class="list-inline list-unstyled text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-grey nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <h4 class="my-0 transition">Shop</h4>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                <a href="{% url 'products' %}?category=big_leaves,to_hang,cacti,succulents" class="dropdown-item">Shop all</a>
                                <a href="{% url 'products' %}?category=big_leaves" class="dropdown-item">Big leaves</a>
                                <a href="{% url 'products' %}?category=to_hang" class="dropdown-item">To hang</a>
                                <a href="{% url 'products' %}?category=cacti" class="dropdown-item">Cacti</a>
                                <a href="{% url 'products' %}?category=succulents" class="dropdown-item">Succulents</a>
                            </div>
                        </li>
                        <li class="list-inline-item dropdown">
                            <a class="text-grey nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <h4 class="my-0 transition">Tips</h4>
                                </div>
                            </a>
                        </li>
                        <li class="list-inline-item dropdown">
                            <a class="text-grey nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <h4 class="my-0 transition">Account</h4>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="" class="dropdown-item">Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register/Login</a>

                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-green font-weight-bold{% else %}text-grey{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <div class="">
                                    <div><i class="fas fa-shopping-cart fa-2x"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            ${{ grand_total|floatformat:2 }}
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="delivery-banner" class="row text-center">
                <div class="col text-white">
                    <h4 class="my-1">Every €{{ free_delivery_threshold }} spent, a free baby plant for you!</h4>                
                </div>            
            </div>
        </header>

        {% if messages%}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        <footer class="container-fluid page-footer">
            <div class="row">
                <div class="col-12 text-center m-5">
                    <a href="{% url 'home' %}">
                    <img class="minilogo" src="/media/mini-logo.png" alt="Monstera">
                    </a>
                </div>
            </div>

            <div class="row footer-arrange">
                <div class="col-2 text-grey text-uppercase">
                    <a href="" class="text-grey"><h5>Shop</h5></a>
                    <hr style="height:2px">
                    <ul>
                        <li><a href="{% url 'products' %}?category=big_leaves,to_hang,cacti,succulents">Shop all</a></li>
                        <li><a href="{% url 'products' %}?category=big_leaves">Big leaves</a></li>
                        <li><a href="{% url 'products' %}?category=to_hang">To hang</a></li>
                        <li><a href="{% url 'products' %}?category=cacti">Cacti</a></li>
                        <li><a href="{% url 'products' %}?category=succulents">Succulents</a></li>
                    </ul>
                </div>

                <div class="col-2 text-uppercase">
                    <a href=""><h5>Tips</h5></a>
                    <hr style="height:2px">
                </div>

                <div class="col-2 text-uppercase">
                    <a href=""><h5>Account</h5></a>
                    <hr style="height:2px">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <ul>
                            <li><a href="">Management</a></li>
                        {% endif %}
                        <li><a href="">My Profile</a></li>
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'account_signup' %}">Register/Login</a></li>
                    {% endif %}
                    </ul>
                </div>

                <div class="col-2">
                    <a href="" class="text-uppercase"><h5>Contacts</h5></a>
                    <hr style="height:2px">
                    <p><strong>Address:</strong><br> Via della Lapide, 23, Roma (IT) <br>
                        <strong>Phone:</strong><br> 0012345678 <br>
                        <strong>E-mail:</strong> francescalupu1996@gmail.com
                    </p>

                </div>

                <div class="col-2 text-uppercase">
                    <a href=""><h5>Payments</h5></a>
                    <hr style="height:2px">
                    <i class="fab fa-cc-visa fa-2x"></i>
                    <i class="fab fa-cc-mastercard fa-2x"></i>
                    <i class="fab fa-cc-stripe fa-2x"></i>
                    <i class="fab fa-cc-paypal fa-2x"></i>
                    <i class="fab fa-cc-amex fa-2x"></i>

                </div>

                <div class="col-2">
                    <a href="" class="text-uppercase"><h5>Newsletter</h5></a>
                    <hr style="height:2px">
                    <div class="text-center">
                        <input type="text" placeholder="Email">
                        <button type="button" class="btn btn-sm rounded-pill border-grey text-grey subscribe">Subscribe</button>

                        <p class="mt-4"><strong>And follow us on</strong></p>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a class="m-3 hvr-pop" target="_blank" href="https://www.facebook.com/">
                                    <i class="fab fa-facebook-f fa-2x"></i>
                                    </a>
                                <a class="m-3" target="_blank" href="https://www.instagram.com/">
                                    <i class="fab fa-instagram fa-2x"></i>
                                </a>    
                                <a class="m-3" target="_blank" href="https://youtube.com/">
                                    <i class="fab fa-youtube fa-2x"></i>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--social links-->
        <hr style="height:5px">
        <div class="footer-copyright container-fluid">
            <div class="row">
                <div class=" col-12 text-center mb-3">
                    Monstera © 2021 Francesca Lupu
                </div>
            </div>
        </footer>
        {% endblock%}

        {% block postloadjs %}
        {% endblock %}

    </body>
</html>