{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Product details {% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mb-5">
            {% for c in current_categories %}
                {% if c.name == 'big_leaves,to_hang,cacti,succulents' %}
                    <h1 class="section-text-title text-green">All Plants</h1>
                {% else%}
                    <h1 class="section-text-title text-green">{{ c.friendly_name }}</h1>
                {% endif %}
            {% endfor %}

            <hr style="height:2px" class="col-6 offset-3 text-grey">
            
            <div class="row">
                <div class="col-5 offset-1 my-2">
                    <p class="text-grey">
                        {% if search_term %}
                            <span class="small"><a class="no-deco text-green grey-hover" href="{% url 'products' %}">Go back to all products</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
                <!-- Sort -->
                <div class="col-5 my-2">
                    <div class="sort-select-wrapper">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-pill border-green text-green border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="species_asc" {% if current_sorting == 'species_asc' %}selected{% endif %}>Species (A-Z)</option>
                            <option value="species_desc" {% if current_sorting == 'species_desc' %}selected{% endif %}>Species (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--If the search gives no results-->
            {% if products|length < 1 %}
            <div class="row">
                <div class="col-12 my-5">
                    <h3 class="text-center text-green"><strong>Sorry, we don't have this plant yet :(</strong></h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!--Image-->
{% for product in products %}
<div class="row">
    <div class="col-lg-3 offset-lg-3">
        <a href="{% url 'product_detail' product.id %}">
            <div class="card mb-3">
                {% if product.image %}
                    <img class="card-img-top prod-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img class="card-img-top prod-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
            </div>
        </a>
    </div>
    <div class="col-lg-3 text-center mt-5 mb-4 section-text-title text-green">
        <h4><strong>{{ product.name }}</strong></h4>
        <h5>{{ product.species }}</h5>
        <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
        {% if request.user.is_superuser %}
            <small class="ml-3">
                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                <a class="text-danger confirm-delete" href="{% url 'delete_product' product.id %}">Delete</a>
            </small>
        {% endif %}
        </div>
    </div>
</div>

{% endfor %}
{% endblock %}}

{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">
    let mybutton = document.getElementById("btn-back-to-top");
    window.onscroll = function () {
    scrollFunction();
    };

    function scrollFunction() {
    if (
        document.body.scrollTop > 20 ||
        document.documentElement.scrollTop > 20
    ) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
    }


    mybutton.addEventListener("click", backToTop);

    function backToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
    </script>

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })

        $(document).on('click', '.confirm-delete', function(){
            return confirm('Are you sure you want to delete this plant?');
        })
    </script>
{% endblock %}