{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- Image -->
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top detail-img img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>

            <!-- Text -->
            <div class="col-12 col-md-6 col-lg-4 text-green my-4">
                <div class="text-center">
                    <h1 class="mt-5 section-text-title">{{ product.name }}</h1>
                    <h4 class="section-text">{{ product.species }}</h4>
                    {% if product.category %}
                    <p class="small section-text">
                        <a class="text-green section-text no-deco" href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    <p class="section-text">{{ product.care}}</p>
                </div>

                <form class="form section-text" action="" method="POST">
                    {% csrf_token %}

                    <div class="row form-group my-5">

                        <label class="col-3 col-form-label" for="quantity" ><strong>Quantity:</strong></label>
                        <div class="col-2 w-25">
                          <input type="number" class="form-control qty_input border-green" name="quantity" value="1" min="1" max="10" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        </div>
                        <div class="col-6 text-end">
                            <h3>€ {{product.price}}</h3>
                          </div>
                    </div>




                    <div class="row">
                    <div class="col-6 ">
                        <a href="{% url 'products' %}" class="btn btn-hover text-white rounded-pill bg-green mt-5">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Go back</span>
                        </a>
                    </div>
                    <div class="col-6 text-end">
                        <div>
                            <input type="submit" class="btn btn-hover text-white bg-green rounded-pill text-uppercase mt-5" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}